name: Ruff Check

on:
    push:
    pull_request:

jobs:
    ruff-lint:
        runs-on: ubuntu-latest

        steps:
            - name: Checkout code
              uses: actions/checkout@v5

            - name: Set up Python
              uses: actions/setup-python@v6
              with:
                python-version: '3.x'

            - name: Install dependencies
              run: |
                  python -m pip install --upgrade pip
                  pip install ruff

            - name: Run Ruff
              run: ruff check --output-format=github .
